# Port number
PORT=4000
NODE_ENV="development"

# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of days after which an access token expires
JWT_ACCESS_EXPIRATION_DAYS=7

DATABASE_NAME=violinvention_db
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=password



OPENAI_API_MODEL="chatgpt-x-xxx"
ASSISTANT_ID="xxxxxxx"
OPENAI_API_KEY="sk-proj-xxxxxxx"



OPENAI_API_MODEL_BOT="chatgpt-x-xxx"
ASSISTANT_ID_BOT="xxxxxxx"
OPENAI_API_KEY_BOT="sk-proj-xxxxxxx"